@import "reset.css";

body {
  margin: 2px 0px;
  background-color: rgb(247, 196, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paintCanvas {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 800px;
  height: 400px;
}

.controls {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.control__range {
  width: 40%;
}

.control__range input {
  width: 100%;
}

.control__button {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.control__button button {
  font-size: 40px;
  color: rgb(85, 85, 85);
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  cursor: pointer;
}

.control__button button:active {
  transform: scale(0.96);
}
.control__colors {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.choose__color {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.choose__color:active {
  transform: scale(0.97);
}
